name: VisionQuery CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Install Ruff
        run: pip install ruff

      - name: Run Ruff Check (Linting)
        run: ruff check .

      - name: Run Ruff Format (Style check)
        # This ensures your code follows standard formatting without changing it
        run: ruff format --check .


  test-logic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Ingestion Tests
        # This tells Python to look in 'src' for imports
        env:
          PYTHONPATH: .
        run: pytest tests/test_ingestion.py